@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

a {
  color: #3b7adf;
}

a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

hr {
  background: #24272c;
}

.hero {
  background: #000000;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title,
.subtitle {
  color: white;
  font-size: 40px;
}

.navbar .navbar-item {
  color: #e4e2ff;
  
}

.navbar .navbar-item.is-active {
  color: #e4e2ff;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-item:hover {
  background: transparent;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-item a {
  color: #e4e2ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gif-posts {
  min-height: 400px;
  background: #191b1f;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.gif-posts article {
  padding: 1.5rem;
}

.gif-posts .post .gifDiv {
  border-radius: 6px;
}

.gif-posts .post .post-category {
  color: #3b7adf;
}

.gif-posts .post .post-title {
  font-size: 3rem;
}

.gif-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 2rem;
  font-family: 'IBM Plex Serif', serif;
  color: #92a3ab;
}

.gif-posts .post .featured .featured-image img {
  height: 500px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 2px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}

.info {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(149, 175, 228);
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}